{
  "env": {
    "jest": true
  },
  "extends": "@wyscout/eslint-config-wyscout",
  "parserOptions": {
    "es6": true,
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  }
}
